@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbarHeight: 4rem;
  --sectionHeight: calc(100vh - var(--navbarHeight));
}

@layer base {
   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }

  /* $ ========================================== Navbar Styles ========================================== */

  .show-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-bg-light);
    z-index: 10;
    display: grid;
    place-items: center;
    transform: translateX(0%);
  }

  .hide-sidebar {
    transform: translateX(100%);
  }

  /* ! ========================================== End Navbar Styles ========================================== */

  .underline {
    @apply w-[2rem] md:w-[2.5rem] h-[0.3rem] md:h-[0.5rem] bg-primaryColor;
  }
}

@layer components {
  .section {
    @apply relative w-full col-start-2 col-end-3 dark:bg-bgDark bg-bgLight text-white grid grid-cols-[10%_80%_10%] lg:grid-cols-[10%_80%_10%];
    height: var(--sectionHeight);
    margin-top: var(--navbarHeight);
  }

  .navbarHeight {
    height: var(--navbarHeight);
  }

  /* $ ========================================== Home Page Styles ========================================== */

  .socialIconStyles {
    @apply text-[1.7rem] flex content-center items-center absolute p-1 rounded w-[2.5rem] h-[2.5rem] opacity-0 outline-[2.5px] outline-primaryColor;
    @apply before:absolute before:content-[''] before:w-full before:h-full before:rounded before:z-[-1] p-1 filter blur-[1.5px];
  }

  .facebookColor {
    @apply bg-[#3b5998];
    @apply before:bg-[#3b5998];
  }

  .gitHubColor {
    @apply bg-[#333];
    @apply before:bg-[#333];
  }

  .twitterColor {
    @apply bg-[#1DA1F2];
    @apply before:bg-[#1DA1F2];
  }

  .linkedInColor {
    @apply bg-[#0077B5];
    @apply before:bg-[#0077B5];
  }

  .pageLinkIcons {
    @apply relative flex justify-center items-center w-[1.8rem] h-[1.8rem] md:w-[2.1rem] md:h-[2.1rem] rounded-[50%] border-2 dark:border-white text-gray-700 dark:text-white hover:cursor-pointer;
    @apply before:absolute before:content-[''] before:top-0 before:left-0 before:bottom-0 before:right-0 before:w-full before:h-full before:rounded-[50%] before:z-[-1];
  }

  .pageLinkIcons:has(.isActive) {
    @apply border-[2px] border-yellow-400 before:bg-primaryColor text-white;
  }

  .pageLinkIcons:has(.isActive) a {
    @apply dark:text-white text-white;
  }

  .iconSize {
    @apply text-[0.8rem] md:text-[0.9rem] lg:text-[1rem];
  }

  /* $ ========================================== About Page Styles ========================================== */

  .icon-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: all 200ms ease-in;
  }

  /* $ ========================================== Products Page Styles ========================================== */

  /* $ ========================================== Contact Page Styles ========================================== */
}
